@use '../theme/fonts' as *;
@use '../theme/_colors.scss' as *;

.inventory-table {
    border-radius: 8px;
    overflow: hidden;
    width: inherit;

    .table-title {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .table {
        display: flex;
        flex-direction: column;
        height: 300px;

        .table-header {
            color: #464F60;
            background-color: #F4F7FC;
            font-weight: 600;
            font-size: $size-12;
            padding-top: 24px;
        }

        .rows {
            font-weight: 400;
            font-size: $size-14;
            flex : 1 1 auto;
            grid-auto-rows: max-content;
            max-height: 500px;
            overflow-y: auto;
            gap: 2px;

            .table-row {
                background-color: $white;
                
                &:nth-child(even) {
                    background-color: #F4F7FC;
                }
            }
        }
    }

    .actions {
        margin-right: 24px;
    }

    p {
        padding: 18px;
    }
}