@use '../theme/fonts' as *;
@use '../theme/_colors.scss' as *;

.items-table {
    border-radius: 8px;
    overflow: hidden;
    width: inherit;

    .table {
        display: flex;
        flex-direction: column;
        height: 560px;

        .table-header {
            color: #464F60;
            background-color: #F4F7FC;
            font-weight: 600;
            font-size: $size-12;
            padding-top: 24px;
        }

        .rows {
            font-weight: 400;
            font-size: $size-14;
            flex : 1 1 auto;
            grid-auto-rows: max-content;
            max-height: 500px;
            overflow-y: auto;
            gap: 2px;

            .loader--container {
                display: flex;
                height: 450px;
                align-items: center;
                justify-content: center;
            }

            .row {
                background-color: $white;
                
                &:nth-child(even) {
                    background-color: #F4F7FC;
                }
            }
        }
    }

    .actions {
        margin-right: 24px;
    }

    .footer {
        .pagination--informations > p {
            color: $gray-board-content;
        }

        .icon-button {
            border: 1px solid #868FA0;
            border-radius: 8px;
        }

        .pagination--actions {
            display: inherit;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }

        .pagination--counter {
            font-weight: 600;

            display: inherit;
            align-self: center;
            color: $gray-board-content;

            .left {
                color: $black
            }
        }
    }

    p {
        padding: 18px;
    }
}