@use '../theme/colors' as *;
@use '../theme/fonts' as *;

#form--container {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
}

.object-view-container {
    padding: 32px;
    background: $white;
    overflow: auto;
    width: 100%;

    .object-view-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        .object-view-header-left {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .object-view-header-actions {
            display: flex;
            gap: 16px;
        }
    }

    .object--row {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .title {
            text-transform: uppercase;
            font-size: $size-20;
            font-weight: 600;
        }

        .content {
            display: inherit;
            flex-direction: row;
            gap: 14px;
        }

        #object-description {
            
            .form-field{
                flex-direction: column;
                display: flex;
                gap: 12px;
                min-height: 100px;
                min-width: 500px;
            }
        }
    }

    .object-view-btn {
        background: $orange;
        color: $white;
        border-radius: 6px;
        padding: 10px 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 8px;

        &.save {
            background: $green;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
            background: $gray;
        }
    }
}