@use '../theme/colors' as *;
@use '../theme/fonts' as *;

#menu--container {
    height: 100%;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0 4px 16px 0 #0000001f, 0 1.5px 4px 0 rgba(0, 0, 0, 0.10);
    border-right: 1px solid rgba(0, 0, 0, 0.5);

    .tabs-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .vertical-tabs {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .export-btn {
        background: $green-export-button;
        text-transform: uppercase;
        font-weight: bold;
        color: $white;;
        border-radius: 6px;
        padding: 10px 24px;
        font-weight: 700;
        margin-top: 24px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
