@use '../theme/fonts' as *;

.search__container {
    width: 100%;
    border: 1px solid rgba(115, 115, 115, 1);
    border-radius: 8px;

    .component {
        padding: 2px;
        display: flex;
        align-items: center;
        height: inherit;

        .logo {
            width: 18px;
            height: 18px;
            margin-left: 8px;
        }
    }

    input {
        padding: 8px;
        border: none;
        font-family: $inter-font;
        font-size: $size-14;
        outline: none;

        &:focus {
            border: none;
            outline: none;
        }
    }
}