@use '../theme/colors' as *;
@use '../theme/fonts' as *;

.statistics-modal {

    .container {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 12px;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 12px;
            font-family: $inter-font;
            font-size: $size-16;
            color: #5E5E5E;
            align-items: center;

            .chip {
                width: 15px;
                height: 15px;
                border-radius: 50%;
            }
        }

        .content {
            font-family: $inter-font;
            font-weight: bold;
            font-size: $size-24;
        }
    }
    
}