@use '../theme/_colors.scss' as *;

.table{
    display: flex;
    flex-direction: column;

    .table-header {
        display: grid;
    }

    .rows {
        display: grid;

        .row {
            display: grid;
            background: $white;

            .column {
                display: flex;
                align-items: center;
            }        
        }
    }
}