@use '../theme/colors';

#home-page {
    display: flex;
    width: 100%;
    height: 100%;

    .container--app {
        width: 100%;
        height: 100%;
        display: inherit;
        flex-direction: row;

        
        .navigation--drawer {
            background-color: colors.$blue;
            height: 100%;
            width: 64px;
        }


        .container--inventory-view {
            width: 100%;
            padding: 24px;
        }
    }
}