:root {
    --white: #FFF;
    --black: #000;
    --blue: #0E43CC;
    --gray: #F6F6F6;
    --green: #159C39;
    --orange: #FF8B26;
    --green-export--button: #159C39;
}

$white: var(--white);
$black: var(--black);
$blue: var(--blue);
$gray: var(--gray);
$green: var(--green);
$orange: var(--orange);
$green-export-button: var(--green-export--button);